<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Myproject</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the   page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
    <article class="wrapper">
        <header class="home-header">
            <nav class="navbar" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle home-nav__link" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/"><img src="img/header-logo.png" alt=""></a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="#">HOME</a></li>
                            <li><a href="#">FEATURES </a></li>
                            <li><a href="#">GALLERY</a></li>
                            <li><a href="#">VIDEO</a></li>
                            <li><a href="#">PRICES</a></li>
                            <li><a href="#">TESTIMONIALS</a></li>
                            <li><a href="#">DOWNLOAD</a></li>
                            <li><a href="#">CONTACT</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
            </nav>
            <div class="slider">
                <div class="container">
                    <div id="owl-one" class="owl-carousel">
                        <div class="row">
                            <div class="slider__item col-sm-7 col-sm-offset-5">
                                <div class="slider__title">
                                    Simple, Beautiful<b> and Amazing</b>
                                </div>
                                <div class="slider__text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget nunc vitae tellus luctus ullamcorper. Nam porttitor ullamcorper felis at convallis. Aenean ornare vestibulum nisi ffringilla lacinia. Nullam pulvinar sollicitudin velit id laoreet. Quisque non rhoncus sem.
                                </div>
                                <a href="" class="link-btn">
                                        DOWNLOAD
                                    </a>
                                <a href="" class="link-btn link-btn--right">
                                        LEARN MORE
                                    </a>
                                <div class="slider__platform-wrap">
                                    <div class="slider__platform-text">
                                        Aavailable on :
                                    </div>
                                    <div class="slider__platform-icon slider__platform-icon--apple">
                                    </div>
                                    <div  class="slider__platform-icon slider__platform-icon--android">
                                    </div>
                                </div>
                            </div>
                            <!-- slider__item-close -->
                        </div>
                        <div class="row">
                            <div class="slider__item col-sm-7 col-sm-offset-5">
                                <div class="slider__title">
                                    Simple, Beautiful<b> and Amazing</b>
                                </div>
                                <div class="slider__text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget nunc vitae tellus luctus ullamcorper. Nam porttitor ullamcorper felis at convallis. Aenean ornare vestibulum nisi ffringilla lacinia. Nullam pulvinar sollicitudin velit id laoreet. Quisque non rhoncus sem.
                                </div>
                                <a href="" class="link-btn">
                                        DOWNLOAD
                                    </a>
                                <a href="" class="link-btn link-btn--right">
                                        LEARN MORE
                                    </a>
                                <div class="slider__platform-wrap">
                                    <div class="slider__platform-text">
                                        Aavailable on :
                                    </div>
                                    <div class="slider__platform-icon slider__platform-icon--apple">
                                    </div>
                                    <div  class="slider__platform-icon slider__platform-icon--android">
                                    </div>
                                </div>
                            </div>
                            <!-- slider__item-close -->
                        </div>
                        <div class="row">
                            <div class="slider__item col-sm-7 col-sm-offset-5">
                                <div class="slider__title">
                                    Simple, Beautiful<b> and Amazing</b>
                                </div>
                                <div class="slider__text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget nunc vitae tellus luctus ullamcorper. Nam porttitor ullamcorper felis at convallis. Aenean ornare vestibulum nisi ffringilla lacinia. Nullam pulvinar sollicitudin velit id laoreet. Quisque non rhoncus sem.
                                </div>
                                <a href="" class="link-btn">
                                        DOWNLOAD 
                                    </a>
                                <a href="" class="link-btn link-btn--right">
                                        LEARN MORE
                                    </a>
                                <div class="slider__platform-wrap">
                                    <div class="slider__platform-text">
                                        Aavailable on :
                                    </div>
                                    <div class="slider__platform-icon slider__platform-icon--apple">
                                    </div>
                                    <div  class="slider__platform-icon slider__platform-icon--android">
                                    </div>
                                </div>
                            </div>
                            <!-- slider__item-close -->
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="advantages">
            <div class="container">
                <h2>summarise the features </h2>
                <div class="advantages__second-title">summarise what your product is all about </div>
                <div class="row">
                    <div class="col-md-3  col-sm-6">
                        <div class="advantages__item">
                            <a href="#" class="advantages__link">
                                <div class="advantages__img-wrap">
                                    <img class="advantages__img" src="img/icon1.png" alt="">
                                </div>
                                <p class="advantages__name">Attractive Layout</p>
                                <p class="advantages__text">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque mi id faucibus iaculis vitae pulvinar.</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3  col-sm-6">
                        <div class="advantages__item">
                            <a href="#" class="advantages__link">
                                <div class="advantages__img-wrap">
                                    <img class="advantages__img" src="img/icon2.png" alt="">
                                </div>
                                <p class="advantages__name">Attractive Layout</p>
                                <p class="advantages__text">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque mi id faucibus iaculis vitae pulvinar.</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3  col-sm-6">
                        <div class="advantages__item">
                            <a href="#" class="advantages__link">
                                <div class="advantages__img-wrap">
                                    <img class="advantages__img" src="img/icon3.png" alt="">
                                </div>
                                <p class="advantages__name">Attractive Layout</p>
                                <p class="advantages__text">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque mi id faucibus iaculis vitae pulvinar.</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3  col-sm-6">
                        <div class="advantages__item">
                            <a href="#" class="advantages__link">
                                <div class="advantages__img-wrap">
                                    <img class="advantages__img" src="img/icon4.png" alt="">
                                </div>
                                <p class="advantages__name">Attractive Layout</p>
                                <p class="advantages__text">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque mi id faucibus iaculis vitae pulvinar.</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="gallery">
            <div class="container">
                <h2>show the gallery</h2>
                <div class="gallery__second-title">summarise what your product is all about </div>
                <div class="row">
                    <div class="col-md-3  col-sm-6">
                        <div class="gallery__item">
                            <a href="#" class="advantages__link">
                                <div class="gallery__img-wrap">
                                    <img src="img/screen3.png" alt="screen" class="gallery__img">
                                    <div class="gallery__name">
                                        SCREEN SHOT #1
                                    </div>
                                </div>
                            </a>
                            <p class="gallery__text">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque mi id faucibus iaculis vitae pulvinar.</p>
                        </div>
                    </div>
                    <div class="col-md-3  col-sm-6">
                        <div class="gallery__item">
                            <a href="#" class="advantages__link">
                                <div class="gallery__img-wrap">
                                    <img src="img/screen3.png" alt="screen" class="gallery__img">
                                    <div class="gallery__name">
                                        SCREEN SHOT #1
                                    </div>
                                </div>
                            </a>
                            <p class="gallery__text">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque mi id faucibus iaculis vitae pulvinar.</p>
                        </div>
                    </div>
                    <div class="col-md-3  col-sm-6">
                        <div class="gallery__item">
                            <a href="#" class="advantages__link">
                                <div class="gallery__img-wrap">
                                    <img src="img/screen3.png" alt="screen" class="gallery__img">
                                    <div class="gallery__name">
                                        SCREEN SHOT #1
                                    </div>
                                </div>
                            </a>
                            <p class="gallery__text">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque mi id faucibus iaculis vitae pulvinar.</p>
                        </div>
                    </div>
                    <div class="col-md-3  col-sm-6">
                        <div class="gallery__item">
                            <a href="#" class="advantages__link">
                                <div class="gallery__img-wrap">
                                    <img src="img/screen3.png" alt="screen" class="gallery__img">
                                    <div class="gallery__name">
                                        SCREEN SHOT #1
                                    </div>
                                </div>
                            </a>
                            <p class="gallery__text">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque mi id faucibus iaculis vitae pulvinar.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="catalog">
            <div class="container">
                <h2>summarise the features </h2>
                <div class="catalog__second-title">summarise what your product is all about </div>
                <div class="row">
                    <div class="col-md-3  col-sm-6">
                        <div class="catalog__item">
                            <a href="#" class="catalog__link">
                                <section class="catalog__img-wrap">

                                   
                                        
                                                <div class="catalog__more">
                                                <img src="img/reviews_bg.png" alt="">
                                                    <h3>Текст</h3>
                                                </div>
                                                <div class="catalog__decoration">
                                                    <img src="img/reviews_bg.png" alt="">
                                                </div>
                                          
                                     
                                </section>

                                <p class="catalog__name">Attractive Layout</p>
                                <p class="catalog__text">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque mi id faucibus iaculis vitae pulvinar.</p>
                            </a>
                        </div>
                    </div>          
                </div>
            </div>
        </section>
        <section class="price">
            <div class="container">
                <h2>choose your price</h2>
                <div class="price__second-title">summarise what your product is all about </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="price__item price--zoom ">
                            <a href="#" class="price__link ">
                                <p class="price__name price--green--hover">basic package
                                </p>
                                <div class="price__value price--green">20$</div>
                                <p class="price__text price--green--hover">Nullam suscipit vitae Etiam faucibus Vivamus viverra</p>
                                <div class="price__bth price--green">
                                    PURCHASE
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="price__item price--zoom">
                            <a href="" class="price__link">
                                <p class="price__name price--blue--hover">professional package</p>
                                <div class="price__value price--blue">25$</div>
                                <p class="price__text price--blue--hover">Nullam suscipit vitae Etiam faucibus Vivamus viverra Praesent pharetra</p>
                                <div class="price__bth price--blue">
                                    PURCHASE
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="price__item price--zoom">
                            <a href="" class="price__link ">
                                <p class="price__name price--orange--hover">Advanced package</p>
                                <div class="price__value price--orange">30$</div>
                                <p class="price__text price--orange--hover">Nullam suscipit vitae Etiam faucibus Vivamus viverra</p>
                                <div class="price__bth price--orange">
                                    PURCHASE
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="reviews">
            <div class="container">
                <h2>Testomonials</h2>
                <div id="owl-two" class="owl-carousel">
                    <div class="row">
                        <div class="reviews__item clearfix">
                            <div class="col-md-2 col-md-offset-3 col-sm-3 col-sm-offset-2  text-center">
                                <div class="reviews__img-wrap">
                                    <img src="img/reviews_photo.png" alt="" class="reviews__img">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <p class="reviews__text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lobortis lectus eget libero blandit venenatis. In blandit tortor vel congue malesuada. Suspendisse molestie lobortis lorem dignissim pretium.
                                </p>
                                <cite class="reviews__author">John Doe
                                    <br> from some company
                                </cite>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="reviews__item clearfix">
                            <div class="col-md-2 col-md-offset-3 col-sm-3 col-sm-offset-2  text-center">
                                <div class="reviews__img-wrap">
                                    <img src="img/reviews_photo.png" alt="" class="reviews__img">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <p class="reviews__text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lobortis lectus eget libero blandit venenatis. In blandit tortor vel congue malesuada. Suspendisse molestie lobortis lorem dignissim pretium.
                                </p>
                                <cite class="reviews__author">John Doe
                                    <br> from some company
                                </cite>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="reviews__item clearfix">
                            <div class="col-md-2 col-md-offset-3 col-sm-3 col-sm-offset-2  text-center">
                                <div class="reviews__img-wrap">
                                    <img src="img/reviews_photo.png" alt="" class="reviews__img">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <p class="reviews__text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lobortis lectus eget libero blandit venenatis. In blandit tortor vel congue malesuada. Suspendisse molestie lobortis lorem dignissim pretium.
                                </p>
                                <cite class="reviews__author">John Doe
                                    <br> from some company
                                </cite>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
    </section>
    <section class="contacts">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <div class="contacts__wrap">
                        <div class="contacts__title">
                            Contact
                        </div>
                        <form class="ajax-form contacts__form" action="#" method="POST">
                            <div class="form-group">
                                <input name="name" type="text" class="form-control" id="exampleInputName1" placeholder="Your name">
                            </div>
                            <div class="form-group">
                                <input name="email" type="email" class="form-control" id="exampleInputemail1" placeholder="Your email">
                            </div>
                            <div class="form-group">
                                <input name="subject" type="text" class="form-control" id="exampleInputsubject" placeholder="Subject">
                            </div>
                            <div class="form-group">
                                <textarea name="question" class="form-control" id="exampleInputquestion1" placeholder="Message"></textarea>
                            </div>
                                <button type="button" class="btn btn__contacts send_ajax_form">
                                    Send
                                </button>
                        </form>
                    </div>
                </div>
                <div class="  col-md-7 col-md-offset-1 col-sm-6 col-sm-offset-2">
                    <a class="dg-widget-link" href="http://2gis.ru/tyumen/firm/1830115629972052/center/65.540589,57.122957/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть на карте Тюмени</a>
                    <div class="dg-widget-link"><a href="http://2gis.ru/tyumen/center/65.540589,57.122957/zoom/16/routeTab/rsType/bus/to/65.540589,57.122957╎Жёлтый чемоданчик?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">Найти проезд до Жёлтый чемоданчик</a></div>
                    <script charset="utf-8" src="http://widgets.2gis.com/js/DGWidgetLoader.js"></script>
                    <script >
                    var width_100_percent;
                    width_100_percent = "100%";
                    new DGWidgetLoader({
                        "width": width_100_percent,
                        "height": 500,
                        "borderColor": "#a3a3a3",
                        "pos": {
                            "lat": 57.122957,
                            "lon": 65.540589,
                            "zoom": 16
                        },
                        "opt": {
                            "city": "tyumen"
                        },
                        "org": [{
                            "id": "1830115629972052"
                        }]
                    });
                    </script>
                    <noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в настройках вашего браузера.</noscript>
                </div>
            </div>
        </div>
    </section>
    </article>
    <!-- wrapper-end -->
    <footer class="footer-home">
        <div class="container">
        <div class="row">
        <div class="col-sm-6">
            <div class="footer-home__logo">
                Copyright © 2013 | bazinger | All Rights Reserved
            </div>
        </div>
        <div class="col-sm-6 ">
            <div class="footer-home__creators">
                
                Terms of Service | Privacy Policy
                 
            </div>
            </div>

        </div>
        </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/bootstrap.js"></script>
</body>

</html>
